* {
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: #080e22;
    padding: 10px 15px;
    display: flex;
    max-width: 500px;
    margin: auto;
    justify-content: center;
}

h1 {
    color: white;
}

.home, .guest {
    padding: 10px;
    margin: 20px;
}

.box {
    padding: 20px;
    margin: 10px;
    font-size: 56px;
    color: rgb(158, 50, 126);
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    background: #1B244A;
    border-color: white;
}


