body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.container {
    min-height: 50vh;
    max-width: 500px;
    text-align: center;
    border: 2px dashed red;
    margin: 100px auto;
    background-color:#1F2937;
    color: whitesmoke;
}

.input-box {
    background: #6943FF;
    padding: 10px;
    max-height: 20vh;
    justify-items: center;
}

.value-box {
    padding: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    padding: 10px;
    width: 50px;
    height: 50px;
}
